/ExistingDiskException.class
/FullDirectoryException.class
/FullDiskException.class
/InvalidBlockException.class
/InvalidBlockNumberException.class
/InvalidParameterException.class
/NonExistingDiskException.class
